In [ ]:
# print("hello\nworld")#\n means next line

In [11]:
print('hello world!')#we  can also use single quotes in the print statement

hello world!

In [3]:
bool(1)

True

In [4]:
bool(0)

False

In [5]:
bool(True)

True

In [6]:
bool(False)

False

In [8]:
print(bool(0))

False

In [9]:
print(bool(1))

True

In [12]:
int(1.0)

1

In [14]:
float(1)

1.0

In [15]:
25/6

4.166666666666667

In [17]:
25//6# when we use double slash result is rounded

4

In [6]:
a=True

In [7]:
type(a)

bool

In [8]:
a=int(3.2)
a

3

# #string

In [29]:
name="sai likhitha " # :: this prints alternate digits
name[::3]

's kt '

In [9]:
A='1234567'
A[1::2]

'246'

In [12]:
Name="Michael Jackson"
Name.find('el')

5

In [30]:
name1="aditya kumar"#prints from 0 to the given number-1
name1[:7]

'aditya '

In [31]:
3*name

'sai likhitha sai likhitha sai likhitha '

In [32]:
3+2*2

7

In [34]:
s='1'+'2'
s

'12'

In [13]:
a='1'
b='2'
a+b

'12'

In [14]:
c='1,2,3,4'
c.split(',')

['1', '2', '3', '4']

# tuples lists and dictionaries

In [5]:
tup=["a","b," "c"]
tup[1:]

['b,c']

In [2]:
d={"hi":1,"hello":2}
d.values()

dict_values([1, 2])

In [3]:
d['hi']

1

In [6]:
Dict={"A":1,"B":"2","C":[3,3,3],"D":(4,4,4),'E':5,'F':6}

In [8]:
Dict["D"]

(4, 4, 4)

In [9]:
len(Dict)

6

In [11]:
Dict["C"]

[3, 3, 3]

# CONDITIONS ,LOOPS,FUNCTIONS,CLASSES AND OBJECTS

In [15]:
i=1000000
i!=0

True

In [22]:
 x='a'
if(x!='a'):

 print("this is not a")

else:
 print("this is a")

IndentationError: expected an indented block (<ipython-input-22-20732424ebaa>, line 4)

In [16]:
for n in range(3):

 print(n+1)

1
2
3

In [24]:
x=1
y=1
def Add(x,y):

 z=y+x
 return(y)

In [21]:
A=[3,4,5]
for a in A:

 print(a)

3
4
5

In [23]:
x=3
y=1
while(y!= x):

 print(y)

 y=y+1

1
2

In [36]:
a=1
def add(b):
  return a+b

c=add(10)
print(c)

11

In [2]:
A=['1','2','3']
for a in A:

 print(2*a)

11
22
33

In [15]:
def Delta(x):
 if x==0:
    y=1;


 else:
    y=0;

 return(1)